*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(45deg, #24498a, #f8c6d9);
}

.result{
    display: flex;
    width: 35rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 20px;
    overflow: hidden;
}
.btn{
    position: absolute;
    left: 50%;
    top:75%;
    transform: translate(-50%, 50%);
    background-color: tomato;
    color: aliceblue;
    width: 8rem;
    height: 2rem;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    background-color: #76c3fe;
    transition: 0.5s;
}
.span{
    position: absolute;
    left: 50%;
    bottom: 80%; 
    transform: translate(-50%, 50%);
    background-image: linear-gradient(90deg, #76c3fe, #1c48b0);
    color: aliceblue;
    width: 13rem;
    height: 3rem;
    border-radius: 15px;
    text-align: center;
    padding-top: .8rem;
    border: 2px solid black;
}
.img{
    object-fit: cover;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 20px;
}
.link{
    position: absolute;
    width: 30rem;
    left: 48%;
    top:72%;
    transform: translate(-50%, 50%);
    color: aliceblue;
}
